.ctaSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #ffffff;
  text-align: center;
}

.ctaSection h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.ctaSection p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.presaveButton {
  padding: 10px 20px;
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.presaveButton:hover {
  background-color: #9c63ea;
}
