/* DotMatrix.module.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.dot-matrix-container {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  gap: 2px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-image: url("/artwork.jpg"); /* Set your album artwork URL here */
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: opacity 0.5s;
}

.dot.active {
  opacity: 0;
}

.cta {
  text-align: center;
  margin-top: 20px;
  z-index: 2;
  position: relative;
}

.text {
  font-size: 2rem;
  margin-bottom: 20px;
}

.pre-save-button {
  background-color: #ff4747;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.pre-save-button:hover {
  background-color: #b62d2d;
}

.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 1; /* Adjust opacity for the desired effect */
  z-index: 3;
  pointer-events: none;
}

.grain-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/grain.jpg"); /* Set your grain texture URL here */
  background-size: cover;
  opacity: 0.2; /* Adjust opacity for the desired effect */
  z-index: 4;
  pointer-events: none;
}

@media (max-width: 600px) {
  .dot {
    width: 6px;
    height: 6px;
  }

  .text {
    font-size: 1.5rem;
  }

  .pre-save-button {
    padding: 10px 20px;
  }
}
