@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
  }

  @font-face {
    font-family: "Pantasia";
    src:
      url("/fonts/Pantasia-Regular.woff2") format("woff2"),
      url("/fonts/Pantasia-Regular.woff") format("woff"),
      url("/fonts/Pantasia-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "ReenieBeanie";
    src: url("/fonts/ReenieBeanie-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  body {
    @apply bg-background font-sans text-foreground;
  }

  * {
    @apply border-border;
  }
}

.font-reenie {
  font-family: "ReenieBeanie", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  ::selection {
    background: #f02d42;
  }
}
